body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 50%; 
    background-color: #f7f7f7;
    font-family: Montserrat, sans-serif;
}

.cover-heading {
    font-size: 4.5rem;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #14365f;
}

.cover-buttons {
    color: #777777;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.cover-buttons:hover {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.cover-links:link, .cover-links:visited  {
    background-color: #ffffff; 
    border-radius: 0px;
    border: 1px solid;
    border-color: #aaaaaa;
    padding: 0.5rem 2rem;
    margin-left:0.3rem;
    color: #14365f;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.cover-links:hover, .cover-links:active {
    background-color: #bbbbbb; 
    text-decoration: none;
}
.cover-footer a {
    font-size: 0.6rem;
    color: #646464;

  }