html { 
    min-height: 100%; 
    position: relative; 
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
}

/*Headings and text*/
    h1 {
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
        color: #333;
        font-size: 1.8rem;
        line-height: 0;
    }

    h2 {
        padding: 3rem 1.5rem;
        text-align: center;
        color: #333;
        font-size: 2rem;
    }

    h3 {
        text-align: justify;
        color: #333;
        font-size: 1.4rem;
    }

    h6 {
        text-align: center;
        color: #333;
    }

    .description {
        font-size: 0.9rem;
    }

/*Navbar*/
    nav.outset {
        border-style: solid;
        border-width: 0rem 0rem 0.1rem 0rem;
        border-color: #eeeeee;
    }

    .navbar-main {
        font-size: 1.5rem;  
        margin-right: 7rem;
    }

    .navbar-sub {
        font-size: 1rem;  
        margin-right: 3rem;
        background-color: #fff;
    }

    .nav-bckg {
        background-image: url("images/navbar-background.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: #fff;
    }

    #navbar-scroll {
        transition: top 0.3s;
        top: -500px;
    }

/*Cover*/
    .cover {
        background-image: url("images/background.jpg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover; 
        background-color: #f7f7f7;
        border-width: 4rem 4rem 1rem 2rem;
        border-style: solid;
        border-color: #fff;
    }

    .cover-heading {
        font-size: 4.5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        line-height: 5rem;
        text-align: center;
        color: #174858;
    }

    .cover-buttons-group {
        text-align: center; 
        margin-bottom: 8rem;
        padding-bottom: 4rem;
    }

    .cover-buttons {
        color: #777;
        background-color:#fff;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .cover-buttons:hover {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        text-decoration: none;
        color: #4d899d;
    }

    .cover-scroll-button {
        color: #174858;
    }

    .cover-scroll-button:hover {
        color: #777;
    }

/*Dropdown toggles*/
    .toggle-group {
        text-align:center;
        padding-bottom: 1rem;
    }

    .toggle-button {
        cursor:pointer;
        border-radius: 2px;
        border: 1px solid;
        padding-bottom: 0.2rem;
        padding-top: 0.4rem;
        text-align: center;
    }
        
    .dropdown {
        display:none;
        clear:both;
        width:100%;
    }

    .dropdown-card {
        border-radius: 2px;
        border: 1px solid;
        border-color: #bbbbbb;
        padding: 1.5rem 1.5rem;
        margin-top:1rem;
    }

/*Cards*/
    .card-text {
        font-size:0.9rem;
        line-height: 1.8;
    }

    .card-footer {
        font-size: 0.85rem;
        padding-bottom: 0;
    }

    .card-buttons{
        color: #4d4d4d;
        margin-right: 1rem;
        margin-left: 1rem;
    }

/*Links*/
    .link { 
        text-decoration: none; 
        color: #4d899d;
    }

    .link:hover {
        text-decoration: none; 
        color: #174858;
    }

/*Other elements*/
    .section {
        background-color: #ffffff;
        padding-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 6rem;
        margin-left: 6rem;
        text-align: justify;
        text-justify: distribute-all-lines;
    }

    hr {
        border: 1px solid #cccccc;
        padding: 0rem;
        margin: 0rem;
    }

    .bullets {
        line-height: 0.5rem;
    }

    .td-about {
        vertical-align: top;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    footer, footer a {
        font-size: 0.6rem;
        color: #646464;
        text-align: center;
        margin-top: 5rem;
    }