body {
    background-image: url("images/cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #292929;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.cover-heading {
    font-size: 70px;
    padding-top: 100px;
    padding-bottom: 5px;
    text-align: center;
    color: #ffffff;
}

.cover-subheading {
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;
    color: #c24c1e;
}

.cover-buttons {
    color: #1293fc;
    margin-right: 10px;
    margin-left: 10px;
}

.cover-links:link, .cover-links:visited  {
    background-color: #011222; 
    border-radius: 5px;
    border: none;
    padding: 25px 40px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.cover-links:hover, .cover-links:active {
    background-color: #011f3b; 
    text-decoration: none;
}
.cover-footer a {
    font-size-adjust: 0.3;
    color: #922900;
  }