html { 
    min-height: 100%; position: relative; 
}

body {
    background-color: #ffffff;
    padding-top: 5rem;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: justify;
    text-justify: distribute-all-lines;
}
h1 {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #000000;
    font-size: 1.8rem;
}

h2 {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #333333;
    font-size: 2rem;
}

h6 {
    text-align: center;
    color: #333333;
}

hr {
    border: 1px solid #cccccc;
}

.buttons {
    color: #4d4d4d;
    margin-right: 30px;
    margin-left: 30px;
}

.bullets {
    line-height: 0.5rem;
}


a:focus { 
    text-decoration: none; 
}

nav.outset {
    border-style: outset;
    border-width: 1px;
    border-color: #eeeeee;
}

.navbar-main {
    font-size: 2.1rem;  
    margin-right: 80px;
}

.navbar-sub {
    font-size: 1rem;  
    margin-right: 30px;
}

.nav-bckg {
    background-image: url("images/navbar-background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #eeeeee;
}

.toggle-group {
    text-align:center;
    padding-bottom: 1rem;
}

.toggle-button {
    cursor:pointer;
    border-radius: 2px;
    border: 1px solid;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    text-align: center;

}
    
.dropdown {
    display:none;
    clear:both;
    width:100%;
}

.dropdown-card {
    border-radius: 2px;
    border: 1px solid;
    border-color: #bbbbbb;
    padding: 1.5rem 1.5rem;
    margin-top:1rem;
}

.card-text {
    font-size:0.9rem;
    line-height: 1.8;
}

.card-footer {
    font-size: 0.85rem;
    padding-bottom: 0;
}

.card-buttons{
    color: #4d4d4d;
    margin-right: 1rem;
    margin-left: 1rem;
}

.contact-buttons {
    color: #777777;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

