body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #ffffff;
    padding-top: 5rem;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
h1 {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #333333
}

h2 {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #333333
}

h6 {
    text-align: center;
    color: #333333
}

.buttons {
    color: #4d4d4d;
    margin-right: 30px;
    margin-left: 30px;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.cover-heading {
    text-size-adjust: 300%;
    padding-top: 150px;
    padding-bottom: 0 px;
    text-align: center;
    color: #ffffff
}

.cover-subheading {
    text-size-adjust: 150%;
    padding-bottom: 80 px;
    text-align: center;
    color: #922900
}

.cover-buttons {
    color: #07299b;
    margin-right: 30px;
    margin-left: 30px;
}

.cover-links {
    color: #ffffff;
    margin-right: 30px;
    margin-left: 30px; 
}